.ctt_con_p {
  text-align: center;
}

.ctt_con_p_br {
  clear: both;
}

.mainTitle {
  text-align: center;
  font-family: var(--font-noto-sans), serif;
  font-optical-sizing: auto;
  font-weight: var(--font-extra-bold);
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: auto 1rem;
  color: var(--dark-blue-color);
}

.imgArea {
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
}

.subTitle {
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 0;
  /* margin: 1.5rem 1.5rem 1.5rem 0; */
  text-align: center;
  font-family: var(--font-noto-sans), serif;
  font-optical-sizing: auto;
  font-weight: var(--font-semi-bold);
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
}

.diagramContainer {
  display: block;
  width: 13rem;
  margin: 2rem auto;
}

.description {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: center;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.darkBlueColor {
  color: var(--dark-blue-color);
  font-weight: var(--font-extra-bold);
}

.darkBrownColor {
  color: var(--dark-brown-color);
  font-weight: var(--font-extra-bold);
}

.skyBlueBgColor {
  background-color: var(--sky-blue-color);
}

.darkBlueBgColor {
  background-color: var(--dark-blue-color);
}

.darkBrownBgColor {
  background-color: var(--dark-brown-color);
}