.para {
  list-style: none;
  margin-top: 10px;
  border: 0;
  outline: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(0, 91, 172);
  line-height: 22.8px;
  text-align: justify;
}

.t_box {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  border-width: 0 0 1px;
  border-bottom-style: dashed;
  border-bottom-color: rgb(204, 204, 204);
  outline: 0;
  color: rgb(96, 96, 96);
  line-height: 22.8px;
  text-align: justify;
}

.group {
  list-style: none;
  margin-bottom: 20px;
  border: 0;
  outline: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.contents {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.ol {
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
  border: 0;
  outline: 0;
}

.ol_li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.num {
  list-style: none;
  margin: 0 4px 0 -15px;
  padding: 0;
  border: 0;
  outline: 0;
}

.span {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.p1 {
  list-style: none;
  border: 0;
  outline: 0;
  color: rgb(96, 96, 96);
  line-height: 22.8px;
  text-align: justify;
}

.p2 {
  list-style: none;
  border: 0;
  outline: 0;
}

.p_bold {
  list-style: none;
  border: 0;
  outline: 0;
  font-weight: bold;
}