.work_img{max-width:100%}
.work_table{border-collapse:collapse; margin:0 auto; width:100%;}
.work_table_th{border:1px solid #ddd; padding:12px; font-size:15px; background:#034ea1; color:#fff;}
.work_table_td{border:1px solid #ddd; padding:12px; text-align:center; font-size:14px;}