.container {
}

.title {
    font-size: 1.6rem;
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.platformArea {
    display: flex;
}

.stepArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}