.container {
}

.title {
    font-size: 1.6rem;
    font-weight: var(--font-bold);
    margin: 1rem 0.5rem;
}

.platformArea {
    display: block;
}

.stepArea {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0.5rem auto;
}

.img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}