.container {
    margin: 0.2rem 0.2rem;
}

.titleThin {
    height: 1.4rem;
    line-height: 1rem;
}

.titleBold {
    height: 3rem;
    line-height: 3rem;
}

.contents {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 0.5rem;
}