.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem auto;
    border: 0.1rem solid var(--gray-color);
}

.clientLogoGrid {
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    align-items: center;
    padding: 0.4rem;
    height: 6rem;
    line-height: 4.5rem;
    &:nth-of-type(even) {
        background-color: var(--gray-color);
    }
}

.clientLogo {
    width: 10rem;
    height: 3rem;
    object-fit: contain;
}